doctype html
html
    head
        title Coins Change
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/style.css')
        link(rel="shortcut icon" href="#")

    body
      nav
      main
        if (!view)
          .count_field
            .inner_count
                h1 Произвести размен
                    span Пожалуйста, заполните все поля
                if errors
                   each error, i in errors
                    div(class="alert") #{error.msg}
                form(method='POST', action='/count')
                      #form-group
                          label
                            span Сумма для размена
                            input(name='sum', type='number' )
                      #form-group
                          label
                            span Номинал первого вида монет
                            input(name='acoin', type='number' min=1 max=10)
                      #form-group
                          label
                            span Процент монет первого номинала (%)
                            input(name='percent', type='number' min=0 max =100 step=1)
                      #form-group
                          label
                            span Номинал второго вида монет
                            input(name='bcoin', type='number' min=1 max=10)

                      br
                      input.btn(type='submit', value='Рассчитать' id='submit_count')
        if view
          .result_field
            .inner_result
                h1 Результат размена
                h2=answer
                a.btn(href='./') Еще раз
      br
      footer
        .logo
            p Ekaterina Mikhailova &copy; 2018


